.chat-message .message-content .damage-taken button.revert-sanity-damamge {
    align-items: center;
    background: var(--bg-dark);
    display: inline-flex;
    justify-content: center;
    width: 3ch;
    margin-left: 2px;
}