<section class="damage-taken">
    <span class="statements">
        You can feel your sanity strengthen as the enemy falls dead.
    </span>
    <button type="button" data-action="sanity-heal" title="[Click] Heal sanity for selected tokens">
        <i class="fa-solid fa-brain fa-fw"></i>
        <span class="label">Heal Sanity</span>
    </button>
</section>