<section class="damage-taken">
    <span class="statements">
        <span class="target-name">{{ actor.name }}'s</span> sanity increases to {{ sanity }}.
    </span>
    <button class="revert-sanity-heal revert-damage" data-action="revert-sanity-heal" title="Undo">
        <i class="fa-solid fa-rotate-left"></i>
    </button>
</section>