<section class="damage-taken">
    <span class="statements">
        <span class="target-name">{{ actor.name }}'s</span> sanity drops to {{ sanity }}.
    </span>
    <button class="revert-sanity-damage revert-damage" data-action="revert-sanity-damage" title="Undo">
        <i class="fa-solid fa-rotate-left"></i>
    </button>
    <p>
        Should you lose all sanity, you will be afflicted with @UUID[Compendium.pf2e.conditionitems.Item.yblD8fOR1J8rDwEQ]{Confused}.
    </p>
</section>